[package]
name = "bristol-fashion"
authors.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
thiserror.workspace = true
