[profile.release]
opt-level = 3
debug = false

[package]
name = "popsicle"
version = "0.4.0"
authors = ["Alex J. Malozemoff <amaloz@galois.com>"]
license = "MIT"
readme = "README.md"
description = "A library for private set intersection"
categories = ["cryptography"]
keywords = ["cryptography", "private-set-intersection", "PSI"]
edition = "2018"
publish = false

[lib]

[features]
nightly = ["rand/nightly", "scuttlebutt/nightly", "ocelot/nightly", "ocelot/nightly"]
fancy = ["fancy-garbling"]
psty = ["fancy", "openssl"]
psty_payload = ["fancy","serde", "serde_json", "fancy-garbling/serde1"]

[dependencies]
ocelot         = { path = "../ocelot" }
scuttlebutt    = { path = "../scuttlebutt",  features = ["serde1"]}
itertools      = "0.8"
rand           = "0.7"
sha2           = "0.8"
bincode = "1.3.1"
serde          = {version = "1.0.117", features = ["derive"], optional = true }
serde_json     = {version = "1.0.59", optional = true }
fancy-garbling = { path = "../fancy-garbling", features = ["serde1"], optional = true }
openssl        = { version = "0.10.28", optional = true }

[dev-dependencies]
criterion  = "0.2.11"
clap       = "2.33.0"
serde      = { version = "1.0.92", features = ["derive"] }
serde_yaml = "0.8.9"
rustyline  = "5.0.0"
pbr        = "1.0.1"
ascii      = "0.9.2"

[[bench]]
name = "psz"
harness = false

[[bench]]
name = "psty"
harness = false
required-features = ["psty"]

[[example]]
name = "psty"
required-features = ["psty"]

[[example]]
name = "secretsister"
required-features = ["psty"]

[[example]]
name = "psty-payload"
required-features = ["psty"]

[[example]]
name = "client"
path = "examples/match-compute-simple/client.rs"
required-features = ["psty_payload"]

[[example]]
name = "server"
path = "examples/match-compute-simple/server.rs"
required-features = ["psty_payload"]

[[example]]
name = "run_server"
path = "examples/match-compute-parallel/server/run_server.rs"
required-features = ["psty_payload"]

[[example]]
name = "run_client"
path = "examples/match-compute-parallel/client/run_client.rs"
required-features = ["psty_payload"]
