[Core] @amaloz @cphifer @rissa
/core/adversary
/core/adversary/

/core/channel
/core/channel/

/core/error
/core/error/

/core/party
/core/party/

/core/rng
/core/rng/

/core/serialization
/core/serialization/

/core/vectoreyes
/core/vectoreyes/

[Edge]
/edge/authenticated-bits @amaloz @rissa
/edge/authenticated-bits/ @amaloz @rissa

/edge/authenticated-garbling @amaloz @rissa
/edge/authenticated-garbling/ @amaloz @rissa

/edge/bit-matrix-transpose @amaloz @benoit.razet
/edge/bit-matrix-transpose/ @amaloz @benoit.razet

/edge/block @cphifer
/edge/block/ @cphifer

/edge/bytearray-utils @cphifer
/edge/bytearray-utils/ @cphifer

/edge/channel-legacy @cphifer
/edge/channel-legacy/ @cphifer

/edge/cointoss @amaloz
/edge/cointoss/ @amaloz

/edge/cr-hash @amaloz @rissa
/edge/cr-hash/ @amaloz @rissa

/edge/deprecated-bitwise-utils @cphifer
/edge/deprecated-bitwise-utils/ @cphifer

/edge/diet-mac-and-cheese @benoit.razet @cphifer
/edge/diet-mac-and-cheese/ @benoit.razet @cphifer

/edge/f-eq @rissa
/edge/f-eq/ @rissa

/edge/f-rand @amaloz @rissa
/edge/f-rand/ @amaloz @rissa

/edge/fancy-garbling @amaloz @rissa
/edge/fancy-garbling/ @amaloz @rissa

/edge/field @cphifer
/edge/field/ @cphifer

/edge/field-binary @cphifer
/edge/field-binary/ @cphifer

/edge/field-f61p @cphifer
/edge/field-f61p/ @cphifer

/edge/field-ff-primes @cphifer
/edge/field-ff-primes/ @cphifer

/edge/field-fft @cphifer
/edge/field-fft/ @cphifer

/edge/field-test @cphifer
/edge/field-test/ @cphifer

/edge/flatbuffer-build @cphifer
/edge/flatbuffer-build/ @cphifer

/edge/garbled-nn @amaloz @rissa
/edge/garbled-nn/ @amaloz @rissa

/edge/humidor @hamlinb
/edge/humidor/ @hamlinb

/edge/inferno @amaloz
/edge/inferno/ @amaloz

/edge/keyed_arena @cphifer
/edge/keyed_arena/ @cphifer

/edge/mac-n-cheese @cphifer
/edge/mac-n-cheese/ @cphifer

/edge/malicious-hooks @amaloz @rissa
/edge/malicious-hooks/ @amaloz @rissa

/edge/oprf-kkrt @amaloz @rissa
/edge/oprf-kkrt/ @amaloz @rissa

/edge/oprf-kmprt @amaloz @rissa
/edge/oprf-kmprt/ @amaloz @rissa

/edge/oprf-traits @amaloz @rissa
/edge/oprf-traits/ @amaloz @rissa

/edge/ot-alsz-kos @amaloz @rissa
/edge/ot-alsz-kos/ @amaloz @rissa

/edge/ot-chou-orlandi @amaloz @rissa
/edge/ot-chou-orlandi/ @amaloz @rissa

/edge/ot-dummy @amaloz @rissa
/edge/ot-dummy/ @amaloz @rissa

/edge/ot-noar-pinkas @amaloz @rissa
/edge/ot-noar-pinkas/ @amaloz @rissa

/edge/ot-test @amaloz @rissa
/edge/ot-test/ @amaloz @rissa

/edge/ot-traits @amaloz @rissa
/edge/ot-traits/ @amaloz @rissa

/edge/polynomial @cphifer
/edge/polynomial/ @cphifer

/edge/popsicle @amaloz @rissa
/edge/popsicle/ @amaloz @rissa

/edge/schmivitz @benoit.razet @marcella
/edge/schmivitz/ @benoit.razet @marcella

/edge/simple-arith-circuit @amaloz @cphifer
/edge/simple-arith-circuit/ @amaloz @cphifer

/edge/svole-wykw @amaloz @benoit.razet
/edge/svole-wykw/ @amaloz @benoit.razet

/edge/twopac @amaloz @rissa
/edge/twopac/ @amaloz @rissa

/edge/zkv @amaloz
/edge/zkv/ @amaloz

[CI Infrastructure] @cphifer
/.cargo
/.cargo/
/.github
/.github/
/.gitlab
/.gitlab/
/.gitlab-ci.yml
/etc/
/etc
/rust-toolchain
/swanky
